.git
.gitignore
.env
.env.backup
.env.*.local
.phpunit.result.cache
.phpunit.cache
node_modules
vendor
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docker-compose.yml
Dockerfile
.dockerignore
README.md
